<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#login").focus();
    });
  </script>
<% end %>

<%= page_h("Log In") %>

<% form_tag session_path, :id => 'loginForm' do -%>

  <div class="ctrlHolder">
    <%= label_tag 'login' %> <br />
    <%= text_field_tag 'login', @login %>
  </div>

  <div class="ctrlHolder">
    <%= label_tag 'password' %><br/>
    <%= password_field_tag 'password', nil %>
  </div>

  <div class="ctrlHolder">
    <%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %>
  </div>

  <div class="ctrlHolder">
    <%= submit_tag 'Log in' %>
  </div>
<% end -%>
