<%= page_h t('home.sign_up_as_new_user') %>

<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<% form_for :user, :url => users_path do |f| -%>
  <div class="ctrlHolder">
    <%= label_tag 'login', t('home.login_name') %><br/>
    <%= f.text_field :login %>
  </div>

  <div class="ctrlHolder">
    <%= label_tag 'email' %><br/>
    <%= f.text_field :email %>
  </div>

  <% fields_for 'user[city_attributes]', @user.city do |c| %>
    <div class="ctrlHolder">
      <label for="user_city_attributes_name">
        <%= t('home.city') %>
      </label> <br />
      <%= c.text_field :name %>
    </div>

    <div class="ctrlHolder">
      <label for="user_city_attributes_country_name">
        <%= t('home.country') %>
      </label> <br />
      <%= c.country_select :country_name %>
    </div>
  <% end -%>

  <div class="ctrlHolder">
    <%= label_tag 'password', t('home.password') %><br/>
    <%= f.password_field :password %>
  </div>

  <div class="ctrlHolder">
    <%= label_tag 'password_confirmation', t('home.confirm_password') %><br/>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="ctrlHolder">
    <%= submit_tag 'Sign up' %>
  </div>
<% end -%>
