<p>
  <%= link_to(t('home.view_events'), events_path) %>
</p>
<p>
<% if logged_in? -%>
  <%= link_to "Log out", logout_path %>

  <h2>Highlights</h2>
  <ul>
    <% for e in @highlights %>
    <li>
      <%= link_to(e.title, e) %>
    </li>
    <% end %>
  </ul>
<% else -%>
  <%= link_to t('home.login'), login_path %>
  <%= t 'general.or' %>
  <%= link_to t('home.signup'), signup_path %>
<% end -%>
</p>
