<%= page_h "Events" %>

<ul>
<% @events.each do |event| %>
  <li>
    <%=link_to(h(event.title), event) %>
  </li>
<% end %>
</ul>

<%= will_paginate @events %>

<br />

<%= link_to 'New event', new_event_path %>

<% content_for :right_column do %>
  <h3>Locations</h3>
  <ul>
    <% for loc in @locations.reverse %>
      <li><%= link_to loc.name, loc %></li>
    <% end %>
  </ul>

  <%= link_to "See all", locations_path %>
<% end %>
