<%= page_h t('general.events_h') %>

<ul>
<% @events.each do |event| %>
  <li>
    <%=link_to(h(event.title), event) %>
  </li>
<% end %>
</ul>

<%= will_paginate @events %>

<br />

<% if logged_in? -%>
  <%= link_to(t('events.new_event'), new_event_path) %>
<% else -%>
  <%= link_to("Log in", login_path) %>  to announce a new event.
<% end -%>

<% content_for :right_column do %>
  <h3><%= t('general.locations_h') %></h3>
  <ul>
    <% for loc in @locations.reverse %>
      <li><%= link_to loc.name, loc %></li>
    <% end %>
  </ul>

  <%= link_to(t('general.see_all'), locations_path) %>
<% end %>
