<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a#createPresence").attr('href', "javascript:void(0);");

      $("a#createPresence").click(function() {
        var path = '<%= event_presences_path(@event) %>' + '.js';
        $.post(path, { event_id: '<%= @event.id %>' }, null, 'script');
        return false;
      });
    });
  </script>
<% end %>

<h2>
  <%=h @event.title %>
</h2>

<p>
  <strong><%=t('events.time_begin') %>:</strong>
  <%= l(@event.time_begin, :format => :long) %>

  <% if @event.time_end -%>
    – <%= h(@event.time_end.to_s(:long)) %>
  <% end -%>

  // annouced by
  <%= link_to @event.user.login, user_path(@event.user) %>
</p>

<p>
  <b>Location:</b>
  <%= link_to h(@event.location.name), @event.location %>
</p>

<%= simple_format(@event.description, :class => 'description') %>


<% if logged_in? %>
  <%= link_to 'Edit', edit_event_path(@event), :id => 'editEvent' %> |
<% end -%>

<%= link_to 'Back to events', events_path %>

<% content_for :right_column do %>
  <h3>People attending</h3>

  <% if logged_in? -%>
    <div id="presenceInput">
      <% if @presence -%>
        <%= render :partial => 'presence_destroy' %>
      <% else -%>
        <%= render :partial => 'presence_create' %>
      <% end -%>
    </div>
  <% end -%>

  <ul id="peopleAttending">
    <% for presence in @event.presences %>
    <li id='<%= "presence#{presence.key}" %>'>
      <%= link_to(presence.user.login, presence.user) %>
    </li>
    <% end %>
  </ul>
<% end %>
