<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a#createPresence").attr('href', "javascript:void(0);");

      $("a#createPresence").click(function() {
        var path = '<%= event_presences_path(@event) %>' + '.js';
        $.post(path, { event_id: '<%= @event.id %>' }, null, 'script');
        return false;
      });

      $("#new_comment").submit(function() {
        $.post($(this).attr('action') + '.js',
               $(this).serializeArray(),
               null, 'script');
        return false;
      });
    });
  </script>
<% end %>

<%=page_h @event.title %>

<p>
  <strong><%=t('events.time_begin') %>:</strong>
  <%= l(@event.time_begin, :format => :long) %>

  <% if @event.time_end -%>
    – <%= h(@event.time_end.to_s(:long)) %>
  <% end -%>

  // <%= t('events.announced_by') %>
  <%= link_to @event.user.login, user_path(@event.user) %>
</p>

<p>
  <b><%= t('events.location') %>:</b>
  <%= link_to h(@event.location.name), @event.location %>,
  <%= @event.location.city.name %>
</p>

<%= simple_format(@event.description, :class => 'description') %>

<h4>
  <%= t('events.comments') %>
  <span id="commentCount">
    <%= "(#{@event.comments.count})" if @event.comments.count > 0 %>
  </span>
</h4>

<%= error_messages_for :comment %>
<% if logged_in? %>
  <% form_for [@event, @comment] do |f| %>
    <%= f.text_area :body, :size => '60x2' %> <br />
    <%= f.submit t('events.say_comment') %>
  <% end %>
<% end %>

<ul id="comments">
  <%= render :partial => 'comments/comment', :collection => @event.comments.reverse %>
</ul>

<% if logged_in? %>
  <%= link_to(t('events.edit_info'), edit_event_path(@event), :id => 'editEvent') %> |
<% end -%>

<%= link_to(t('events.back_to_all'), events_path) %>

<% content_for :right_column do %>
  <h3><%= t('events.people_attending') %></h3>

  <% if logged_in? -%>
    <div id="presenceInput">
      <% if @presence -%>
        <%= render :partial => 'presence_destroy' %>
      <% else -%>
        <%= render :partial => 'presence_create' %>
      <% end -%>
    </div>
  <% end -%>

  <ul id="peopleAttending">
    <% for presence in @event.presences %>
    <li id='<%= "presence#{presence.key}" %>'>
      <%= link_to(presence.user.login, presence.user) %>
    </li>
    <% end %>
  </ul>
<% end %>
