<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b><%=t 'time_begin' %>:</b>
  <%=l @event.time_begin, :format => :long %>
</p>

<p>
  <b>Time end:</b>
  <%=h(@event.time_end.to_s(:long)) unless @event.time_end.blank? %>
</p>

<p>
  <b>Annouced:</b>
  <%= link_to @event.user.login, user_path(@event.user) %>
</p>

<p>
  <b>Location:</b>
  <%= link_to h(@event.location.name), @event.location %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_event_path(@event), :id => 'editEvent' %> |
<% end -%>
<%= link_to 'Back to events', events_path %>
