<%= page_h "#{@location.name}, #{@location.city.name}" %>

<%= simple_format @location.description %>

<h4><%= t('general.events_h') %></h4>
<ul>
  <% for e in @location.events %>
  <li>
    <%= link_to e.title, e %> / <%= e.time_begin.to_s(:long) %>
  </li>
  <% end %>
</ul>

<% content_for :right_column do %>
  <% if logged_in? -%>
    <p>
      <%= link_to(t('events.new'), new_event_path(:location_id => @location)) %>
    </p>
  <% end -%>
<% end %>
