<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= yield :title %> </title>
  <%= stylesheet_link_tag 'default' %>

  <!-- IE Specific Style Sheets -->
  <!--[if lte ie 6]><style type="text/css" media="screen">@import "stylesheets/ie6.css";</style><![endif]-->
  <!--[if gt ie 6]><style type="text/css" media="screen">@import "stylesheets/ie7.css";</style><![endif]-->

  <%= javascript_include_tag 'jquery-1.3.2.min', 'application.js' %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  <%= auto_discovery_link_tag :atom, events_url(:format => :atom), :title => "Event Feed"  %>

  <%= yield :head %>
</head>
<body>
  <div id="header">
    <h1>
      <strong><%= link_to "gradmx", root_path %></strong>
      <em id="flash"><%= flash[:error] or flash[:notice] %></em>
    </h1>
  </div>

  <div id="mainContent" class="sprawsm-pix">

    <h2 class="nonHolder">
      <%= yield :page_header %>
    </h2>

    <div class="col-ms">
      <div class="col cs-8">
        <%= yield %>
      </div>
      
      <div class="col cs-4">
        <%= yield :right_column %>
      </div>
    </div>

  </div> <!-- #mainContent -->

  <%= render :partial => 'layouts/footer' %>

</body>
</html>
